[submodule "SimpleTextUi"]
	path = SimpleTextUi
	url = ../../CherokeeLanguage/SimpleTextUi.git
[submodule "CherokeeDictionaryShared"]
	path = CherokeeDictionaryShared
	url = ../../CherokeeLanguage/CherokeeDictionaryShared.git
[submodule "CherokeeDictionaryDao"]
	path = CherokeeDictionaryDao
	url = ../../CherokeeLanguage/CherokeeDictionaryDao.git
[submodule "CherokeeLanguageUtils"]
	path = CherokeeLanguageUtils
	url = ../../CherokeeLanguage/CherokeeLanguageUtils.git
